*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    margin-top: 10px !important;
    padding: 15px !important;
}

.social-icon {
    font-size: 30px !important;
    text-decoration: none;
    color: rgb(209, 114, 177);

    
}